<div class="container">
    <div class="header-left-button">
        <button class="home-button menu-toggle" title="Open menu">⌾</button>
    </div>
    <div class="header-left">
        <a href="{{ .Site.BaseURL }}">cryptoknights</a>
    </div>
    <div class="header-right">
        <div class="header-icons">
            <button class="theme-toggle icon-link" title="Toggle theme">◐</button>
        </div>
    </div>
</div>

<div class="menu-container">
    <div class="menu-content">
        <nav>
            <ul>
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li><a href="{{ .Site.BaseURL }}about/">About Me</a></li>
                <li><a href="{{ .Site.BaseURL }}posts/">Blogs</a></li>
                <li><a href="#" class="disabled">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
